/*! Font  */
@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* ! Root */
:root {
  --color-dark-1: #27374d;
  --color-dark-2: #526d82;
  --color-light-1: #9db2bf;
  --color-light-2: #dde6ed;
}
/*! Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
}
img {
  width: 100%;
}

/* ! Base */
body {
  font-family: "Jost", serif;
  background: var(--color-light-2);
  color: var(--color-dark-1);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.5rem;
}
p {
  font-size: 1rem;
}
.section {
  padding: 3rem;
}
.btn__default-light {
  padding: 0.8rem;
  border-radius: 5px;
  background: var(--color-dark-1);
  border: 2px solid var(--color-dark-1);
  color: var(--color-light-2);
}
.btn__default-light:hover {
  color: var(--color-dark-1);
  border: 2px solid var(--color-dark-1);
  background: var(--color-light-2);
}

/* *Main */
.main {
  /* margin: 2rem 0 3rem; */
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* *Button Sidebar */
.sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -35px;
  cursor: pointer;
  z-index: 99999;
}
.btn__sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 64px;
  background: transparent;
  border-radius: 50%;
  border: 3px dotted var(--color-dark-1);
}
.sidebar:hover :is(.nav) {
  display: block;
}
.nav {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 65px;
  background: var(--color-dark-1);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
}
.nav__list {
  padding: 1rem 2rem;
  width: 200px;
  row-gap: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.nav__list a {
  color: var(--color-light-2);
  font-size: 1.5rem;
  font-weight: 600;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
}
.nav__list a:hover {
  background: var(--color-light-2);
  color: var(--color-dark-1);
  padding: 0.5rem;
  font-weight: 800;
  border-radius: 5px;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
}

/* *Homepage */
.homepage {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__img {
  width: 300px;
  height: 300px;
  background: var(--color-dark-1);
  border-radius: 50%;
  overflow: hidden;
}
.home__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.home__content-name {
  color: var(--color-dark-1);
}
.home__btn {
  margin-top: 1rem;
}
.home__btn a {
  font-weight: 600;
}

/* General page */
.about,
.blog,
.contact,
.education,
.experience,
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title,
.blog__title,
.contact__title,
.experience__title,
.education__title,
.portfolio__title {
  margin-bottom: 2rem;
}
.about__title h3,
.blog__title h3,
.contact__title h3,
.education__title h3,
.experience__title h3,
.portfolio__title h3 {
  position: relative;
  padding-bottom: 0.6rem;
}
.about__title h3::after,
.blog__title h3::after,
.contact__title h3::after,
.education__title h3::after,
.experience__title h3::after,
.portfolio__title h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background: var(--color-dark-1);
  border-radius: 15px;
}

/* *About */
.about__content {
  background: var(--color-light-1);
  padding: 5rem;
  border-radius: 5px;
}
.about__content p {
  line-height: 2.5rem;
  text-align: justify;
}

/* *Blog */
.blog {
  align-items: normal;
}
.blog__title {
  text-align: center;
}
.content__menu {
  padding: 0.5rem;
  display: flex;
  border: 2px solid var(--color-dark-1);
  border-radius: 5px;
  margin-bottom: 2rem;
  /* background: var(--color-dark-1); */
}
.search__menu {
  position: relative;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-radius: 5px;
}
.search__menu input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 2rem 0 1rem;
  background: #fff;
  border-radius: 5px;
}
.search__menu button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: transparent;
  cursor: pointer;
}
.search__menu img {
  max-width: 32px;
}
.filter__menu {
  padding: 0 1rem;
}
.filter__menu select {
  padding: 0 1rem;
  width: 300px;
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #fff;
}
.content__post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card__post {
  height: 600px;
  background: var(--color-light-1);
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 5px;
}
.card__post-img img {
  border-radius: 5px;
}
.title__post h2 {
  color: var(--color-dark-1);
}
.title__post h5 {
  font-weight: 400;
  margin-bottom: 1rem;
}
.description__post p {
  color: #526d82;
  text-align: justify;
}

/* *Contact */
.contact__content {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: flex-start;
}
.contact__title {
  margin-bottom: 10rem;
}
.contact__details {
  padding-right: 1rem;
}
.contact__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
}
.input__control {
  color: var(--color-dark-1);
  background-color: #fff;
  border: 1px solid transparent;
  padding: 0.9rem 0.75rem;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}
.textarea {
  height: 140px;
  resize: none;
  outline: none;
}
.contact__form button {
  float: right;
  cursor: pointer;
}

/* *Education & Experience */
.education__content:nth-child(2),
.experience__content:nth-child(2) {
  border-bottom: 3px solid var(--color-dark-1);
}
.education__title,
.experience__title {
  margin-bottom: 8rem;
}
.education__card,
.experience__card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  border-top: 3px solid var(--color-dark-1);
}
.education__card div,
.experience__card div {
  display: flex;
  align-items: center;
  column-gap: 4rem;
  justify-content: space-between;
}

/* *Portfolio */
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.portfolio__card {
  position: relative;
  cursor: pointer;
}
.portfolio__img {
  vertical-align: middle;
}
.portfolio__details {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.portfolio__img,
.portfolio__details {
  border-radius: 0.5rem;
}
.portfolio__text {
  font-size: 1rem;
}
.portfolio__text,
.portfolio__description {
  color: var(--color-light-2);
  transform: translateY(1.5rem);
  transition: all 0.3s ease-in-out;
}
.portfolio__description {
  font-size: 2rem;
}
/* Portfolio Hover */
.portfolio__card:hover .portfolio__details {
  opacity: 1;
}
.portfolio__details:hover :is(.portfolio__text, .portfolio__description) {
  transform: translateY(0);
}
